$color-letter1: blue;
$color-letter2: #3F4255;

$color-user1: gray;
$color-user2: rgb(128, 128, 128, 0.6);

$color-border1: #FFE145;

$background1: #ffffff;
$background2: #D4D7E6;
$background3: rgb(212, 215, 230, 0.3);

$menu-logo:0px 8px 40px rgba(0, 0, 0, 0.08);