$color-letter1: blue;
$color-letter2: #3F4255;
$color-letter3: #B79C10;

$color-user1: gray;
$color-user2: rgb(128, 128, 128, 0.6);
$color-user3: rgb(128, 128, 128, 0.3);
$color-user4: rgb(49, 48, 48);

$color-border1: #FFE145;

$background1: #ffffff;
$background2: #D4D7E6;
$background3: rgb(212, 215, 230, 0.3);
$background4: #F2F4FA;

$shadow1: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
$shadow2: rgba(17, 17, 26, 0.05) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;

$menu-logo:0px 8px 40px rgba(0, 0, 0, 0.08);